body {
  background-color: #FFFF;
  margin: auto;
}

header nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo_smd_barber {
  width: 10%;
}

a {
  text-decoration:none;
  color: black;
  cursor: pointer;
}

.nav_liens {
display: flex;
gap: 15px;
margin-right: 15px;
}

.ajout_recettes_depenses {
  background-color: #352d59;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 300px;
}
 
.ajout_bouton {
    display: flex;
    gap: 20px;
}

.ajout_recettes_depenses label{
  color: white;
}

.button {
  position:relative;
  width:200px;
  color:#FFF;
  display:block;
  text-decoration:none;
  margin:0 auto;
  border-radius: 30px;
  border:solid 1px #564e7e;
  background:#8c85b3;
  text-align:center;
  padding:20px 30px;
  box-shadow: 0px 5px 5px #564e7e;
  cursor: pointer;
  font-size: 16px;
  margin-top: 11px;
}

.button:active{
  -webkit-box-shadow: 0px 2px 0px #564e7e;
  -moz-box-shadow: 0px 2px 0px #564e7e;
  box-shadow: 0px 2px 0px #564e7e;
  position:relative;
  top:3px;
}

.form_achat{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form_achat div {
  display: flex;
  flex-direction: column;
}

.div_depense input {
  width: 100%;
  height: 30px;
  background-color: #c4c0d8;
}

.vu-du-portefeuille {
  display: flex;
  justify-content: space-evenly;
  height: 260px;
}

.vu_portefeuille p {
  font-size: 20px;
  margin-top: 6%;
}

.nombre-size {
  font-size: 25px;
}

#totalNet {
  font-size: 40px;
}

.p-total-net {
  margin-top: 14% !important; 
  font-size: 29px !important; 
}

#afficheHistorique {
  display: flex;
  border: 1px black solid;
  background-color:#8c85b3;
  color: black;
  width: 101px;
  height: 137px;
  overflow: scroll;
}

#afficheHistoriqueDepenses {
  display: flex;
  border: 1px black solid;
  background-color:#8c85b3;
  color: black;
  width: 121px;
  height: 137px;
  overflow: scroll;
}

.historique-affichage {
  display: flex;
  background-color: #352d59;
  color: #FFF;
  height: 250px;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
}

@media screen and (max-width : 400px) {

  header nav {
    display: flex;
    flex-direction: column;
  }

  .logo_smd_barber {
    width: 98%;
  }

  .bouton-accueil {
    display: none;
  }

  .nav_liens {
    font-size: 18px;
    gap: 0;
    margin: 0;
    width: 100%;
    justify-content: space-between;
  }

  .nav_liens a {
    background-color: #c4c0d8;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24%;
    height: 43px;
    border-radius: 25px;
    box-shadow: 0px 5px 5px #564e7e;
    margin-bottom: 5%;
    margin-top: 3%;
  }

  .ajout_recettes_depenses {
    flex-direction: column;
    height: 460px;
  }

  .ajout_bouton {
    flex-direction: column;
  }

  .vu-du-portefeuille {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 352px;
  }

  .vu-du-portefeuille p {
    margin: 0 !important;
    font-size:19px;
    background-color: #8c85b3;
    width: 69%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 78px;
    border-radius: 40px;
    height: 60px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

  .affichage {
    display: flex;
    align-items: center;
    flex-direction: column
  }

  .p-total-net {
    width: 80% !important;
    height: 70px !important;;
  }

  .nombre-size {
    margin-left: 3px;
  }


}

